/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

button,
summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
/* fonts */
@font-face {
	font-family: 'basiccommericalItalic';
	src: url('../fonts/basiccommercial_i4.1e3523a998a80ff2e6546b2cd001aec8a0856a1d.woff2') format('woff2');
}

@font-face {
	font-family: 'basiccommericalNormal';
	src: url('../fonts/basiccommercial_n4.161334af349df25a2cfd2ef229e3fe638b6471c6.woff2') format('woff2');
}

@font-face {
	font-family: 'basiccommericalBold';
	src: url('../fonts/basiccommercial_n7.58fc15bd5b52101eea961dd8bc6882e199098b2d.woff2') format('woff2');
}

@font-face {
	font-family: 'helveticaNormal';
	src: url('../fonts/helvetica_n3.e01288c0d2e8e4f4101819b750499a38c41ed953.woff2') format('woff2');
}

@font-face {
	font-family: 'helveticaBold';
	src: url('../fonts/helvetica_n4.fe093fe9ca22a15354813c912484945a36b79146.woff2') format('woff2');
}

:root {
	/* LICHT THEMA */
	/* voor de tekst */
	--color-text: #111;

	/* basiskleuren */
	--color-wit: #f3f3f3;
	--color-grijs: #ECEBE9;
	--color-divider: #e2e2e2;

	/* achtergrond kleur */
	--color-background: #fff;

	/* hoverkleuren van de buttons */
	--color-hover-light-theme: #666666;
	
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
	margin: 0 auto;
	background-color: var(--color-background);
	color: var(--color-text);
}

/*------------------------------------------------------------------*/
/*----------------------------Header--------------------------------*/
/*------------------------------------------------------------------*/


/* navigatie, menu en aanbiedingsbalk */
header section {
	background-color: var(--color-background);
	height: 7.36875rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 3.4375rem;
	border-bottom: 0.0625rem solid var(--color-divider);

}

/* Grijze balk | Top van de pagina*/
header p {
	background-color: var(--color-grijs);
	font-family: 'basiccommericalNormal';
	order: -100;
	top: 0;
	width: 100%;
	font-size: small;
	line-height: 2em;
	text-align: center;
	justify-content: center;
	padding: 0.6em;
}

/* logo browhouse */
header section img {
	align-items: flex-start;
	width: 10.3125rem;
	height: auto;
}

/* icoontjes | zoeken, account en winkelwagen */
header nav:nth-of-type(2) ul {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0;
	width: 9.890625rem;
	height: 2.60375rem;
}

/* icoontje | zoeken */
header nav:nth-of-type(2) li:nth-of-type(1) {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.60375rem;
	width: 2.1875rem;
}

/* icoontje | account */
header nav:nth-of-type(2) li:nth-of-type(2) {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.60375rem;
	width: 2.625rem;
}

/* icoontje | winkelwagen */
header nav:nth-of-type(2) li:nth-of-type(3) {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.60375rem;
	width: 2.625rem;
}

/* Eerste SVG-icoon */
nav ul li:nth-of-type(1) a svg {
	width: 1.1075rem;
	height: 1.108125rem;
	display: flex;
	/* Nodig om SVG te centreren */
	align-items: center;
	/* Verticale uitlijning in het midden */
	justify-content: center;
	/* Horizontale uitlijning in het midden */
}

/* Tweede SVG-icoon */
nav ul li:nth-of-type(2) a svg {
	width: 0.94rem;
	height: 1.25rem;
	display: flex;
	/* Nodig om SVG te centreren */
	align-items: center;
	/* Verticale uitlijning in het midden */
	justify-content: center;
	/* Horizontale uitlijning in het midden */
}

/* Derde SVG-icoon */
nav ul li:nth-of-type(3) a svg {
	width: 1.126875rem;
	height: 1.19375rem;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

/* hamburger menu */
header button:nth-of-type(1) {
	/* Zorgt ervoor dat de button aan de rechterkant staat */
	margin-left: 0;
	/* Plaats de button aan de rechterkant */
	background: pink;
	border: none;
	cursor: pointer;
	width: 2.625rem;
	height: 2.60375rem;
}

/* hamburger svg */
header button:nth-of-type(1) svg {
	width: 1.25rem;
	height: 1.25rem;
}

/* kruisje menu */
header button:nth-of-type(2) {
	margin-left: 0;
	background: purple;
	border: none;
	cursor: pointer;
	width: 2.625rem;
	height: 2.60375rem;
	display: none;
}
/* kruisje svg */
header button:nth-of-type(2) svg {
	width: 1.2475rem;
	height: 1.24625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}


header nav:nth-of-type(2) {
	display: flex;
}

/* menu verborgen | mobiele weergave */
header nav:nth-of-type(1) {
	display: none;
	justify-content: space-between;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 18.7em;

/* de sluit button (X) komt boven in te staan */
align-items: flex-start;
}

header nav:nth-of-type(1) ul {
	padding: 0;
	margin-top: 3em;
}

header nav:nth-of-type(1) ul li a {
	font-family: 'basiccommericalNormal';
	font-size: 10pt;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-text);
}

header nav:nth-of-type(1) a:hover {
	border: solid 0.0625rem var(--color-hover-light-theme);
	border-top: none;
	border-left: none;
	border-right: none;
}

header nav:nth-of-type(1) li {
	list-style: none;
	text-align: center;
	padding: 1em;
}



/* navigatie op desktop weergave */
@media (min-width:46.875rem) {


	/* verwijdering van de padding zodat boven als onder evenveel witruimte heeft */
	header {
		padding-bottom: 0;
	}

	/* menubutton wordt verwijderd/onzichtbaar */
	header button {
		display: none;
	}

	/* logo bloomscape */
	header img {
		width: 10rem;
		padding-top: .8em;
	}

	/* Opmaak mobiele menu wordt op navigatie desktop weergave geplaatst (opmaak veranderd dus) */
	header nav:nth-of-type(1) {
		position: static;
		background: none;
		transform: none;
		justify-content: center;
		width: 60%;
		max-width: 50em;

		/* grid (menu onderdelen) verticaal centreren op de pagina */
		justify-content: center;
	}


	/* opmaak koppelingen dat uit het menu op de navigatie balk geplaatst wordt (lijst wordt verticaal naast elkaar geplaatst)*/
	header nav:nth-of-type(1) {
		justify-content: center;
		align-items: center;
		min-width: 19.78125rem;
		margin: 0;

		
	}header nav:nth-of-type(1) ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0rem 0rem;
		height: auto;
		margin: 0;
	}

	header nav:nth-of-type(1) ul li {
		padding: 0.1875rem 0.625rem;
	}
	
	/* sluitbutton niet nodig op desktopversie */
	header nav:nth-of-type(1) button {
		display: none;
	}

	
}
/*------------------------------------------------------------------*/
/*-------------------------Einde-Header-----------------------------*/
/*------------------------------------------------------------------*/

main section {
	padding: 0rem;
}

/* text: behandelingen */
main h2 {
	font-family: 'basiccommericalNormal';
	text-transform: uppercase;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
	padding: 3.4375rem 0;
	text-align: center;
}

/* first ul li */
main section:nth-of-type(1) ul {
	list-style: none;
	padding: 0 3.4375rem;
	display: grid;
	grid-template-columns: repeat(autofit, minmax(20.6875rem, 33.125rem));
	gap: 1.875rem;
	max-width: 68.125rem;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
}

main section:nth-of-type(1) ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

main section ul li img {
	width: 100%;
	margin: 0 auto;
}

main section:nth-of-type(1) ul li button {
	background: none;
	border: 0.1em solid var(--color-text);
	font-family: 'basiccommericalNormal';
	font-size: 0.75rem;
	padding: 0.5rem 0.625rem;
	text-transform: uppercase;
	height: 1.875rem;
	width: 5.111875rem;
}

main section:nth-of-type(1) ul li button:hover {
	border: 0.1rem solid var(--color-hover-light-theme);
	color: var(--color-hover-light-theme);
}

/* desktop weergave behandelingen */
@media (min-width:46.875rem) {
main section:nth-of-type(1) ul {
	list-style: none;
	padding: 0 3.4375rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(18.84375rem, 33.125rem));
	gap: 1.875rem;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
}
}

/* text: packages */
h4 {
	font-family: 'basiccommericalNormal';
	text-transform: uppercase;
	font-size: 0.8125ren;
	padding: 1.09375rem 0 1.09375rem 0;
}

p {
	font-family: 'basiccommericalNormal';
	font-size: 0.875rem;
	padding: 0 0.625rem 1.09375rem 0.625rem;
	letter-spacing: 0.01875rem;
	line-height: 1.5;
}

/* second ul li */
main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 70rem;
	padding: 6.875rem;
	margin: 0 auto;
}

main section:nth-of-type(2) p {
	max-width: 44.79125rem;
}

main section h3 {
	font-family: 'basiccommericalNormal';
	text-transform: uppercase;
	font-size: 1.25rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 1.09375rem;
}

main section:nth-of-type(3) ul {
	width: 100%;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(1, minmax(20.25rem, 43.625rem));
	gap: 1.875em;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
	text-align: start;
	padding-left: 1.375rem;
	padding-right: 1.375rem;
}

/* desktop weergave packages */
@media (min-width:46.875rem) {
	main section:nth-of-type(3) ul {
		width: 100%;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, minmax(11.936875rem, 21.458125rem));
		gap: 1.875rem;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		text-align: start;
		padding-left:3.4375rem;
		padding-right:3.4375rem;
		padding-bottom: 3.4375rem;
	}
}

main section:nth-of-type(3) ul li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

main section:nth-of-type(3) ul li p {
	padding-left: 0;
}

span{
	font-weight: bolder;
}

main section:nth-of-type(3) ul li button {
	width: 6.375rem;
	height: 1.875rem;
	text-transform: uppercase;
	background: none;
	border: 0.1rem solid var(--color-text);
	font-family: 'basiccommericalNormal';
	font-size: 0.75rem;
	margin: 0;
}

main section:nth-of-type(3) ul li button:hover {
	border-color: var(--color-hover-light-theme);
	color: var(--color-hover-light-theme);
}

/*------------------------------------------------------------------*/
/*-----------------------------Footer-------------------------------*/
/*------------------------------------------------------------------*/


footer {
	background-color: var(--color-grijs);
	width: 100%;
	min-height: 51.8125rem;
}

footer section {
	width: 100%;
	min-height: 10rem;
	border-top: 0.125rem solid var(--color-divider);
	position: relative;
	bottom: 0;
}